@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*--------------------------------------------------------------------------------------*/
/*General-Css-Here
/*--------------------------------------------------------------------------------------*/

*{margin:0; padding:0; box-sizing:border-box;}
body{ background-color: #F2F2F2; margin:0; padding:0; box-sizing:border-box; font-family: 'Roboto', sans-serif;overflow-x: hidden;font-size: 14px;}
a{-webkit-transition: 0.5s ease-out; -moz-transition:0.5s ease-out; -o-transition: 0.5s ease-out; transition:0.5s ease-out;}
ul{margin:0; padding:0; list-style:none;}
img{max-width:100%;}
.site_content{display:block; padding-top:89px;}
.site_content:after,.site_content:before{display:table; clear:both; content:"";}
header,footer,section{display::block;}
header:after,header:before,footer:after,footer:before,section:after,section:before{display:table; clear:both; content:"";}
.container-fluid{ margin: 0px auto;width: 100%;padding: 0px 6vw;}
.container { max-width: 1300px;padding: 0; }
.container:after,.container:before{display:table; clear:both; content:"";}
[type="radio"]:checked,
[type="radio"]:not(:checked){position: absolute; left: -9999px;}
[type="radio"]:checked + label, [type="radio"]:not(:checked) + label{position:relative; padding-left:28px; cursor:pointer;
line-height: 20px; display: inline-block; color: #666;}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {content: ''; position: absolute; left: 0; top: 0; width: 18px; height: 18px;
border: 1px solid #ddd; border-radius: 100%; background: #fff;}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after{content: ''; width: 12px; height: 12px; position: absolute;
top:3px; left:3px; border-radius: 100%; -webkit-transition: all 0.2s ease; transition: all 0.2s ease;}
[type="radio"]:not(:checked) + label:after {opacity: 0; -webkit-transform: scale(0); transform: scale(0);}
[type="radio"]:checked + label:after {opacity: 1; -webkit-transform: scale(1); transform: scale(1);}
button:focus{/*border:none; outline:none;*/}
select{appearance:none;}

.dashbord-stricky-header #example_wrapper { min-height: calc(100vh - 270px);padding-bottom: 40px; }
.dashbord-stricky-header #example_wrapper .pagination { position: absolute;bottom: 10px;right: 15px; }

.dark-blue { background: #023264; }
header .navbar { padding: 15px; }
.inner-wraper { padding: 20px; }
.btn { padding: 10px 15px; }
.btn-blue { background: #0451A0;color: #fff !important; }
.btn-blue-border { background: #fff;border:1px solid #0451A0;color: #0451A0 !important; }
.navbar-brand { color: #fff !important; }
.navbar { position: fixed;top: 0;left: 0;width: 100%;z-index: 99;box-shadow: 0px 2px 4px rgba(0,0,0,0.3); }
.wraper { padding-top: 70px; }
.header-title  { font-size: 1.4em; }
.card {box-shadow: 0px 2px 4px rgba(0,0,0,0.3);border: 1px solid #e0e0e0; }
.card-header { background: #fff; }
.form-control { height: calc(1.5em + 1.2rem + 2px) !important; }
.table td, .table th { vertical-align: middle;border: none; }
.table-striped tbody tr:nth-of-type(2n+1) { background: #fff; }
.table-striped tbody tr:nth-of-type(2n+2) { background: #f8f8f8; }
.btn-round { color: #0451a0; }
.blue-check { color: #0074bc; }
.orange-warning {color: orange;}
.red-close { color: #F44336; }
.dropdown-menu a { padding: 10px 15px; }
.dropdown-menu a i { width: 30px; }
.pagination-text span { margin-top: 5px;}
.table { font-size: 14px !important; }
.side-bar-open .fa-times { display: none; }
.side-bar-open.active .fa-times { display: block; }
.side-bar-open.active .fa-bars { display: none; }
.side-bar-open { width: 30px;background: none;border:none;color: #fff;font-size: 25px;position: relative;top: 3px;margin-right: 10px; }
.side-bar { position: fixed;top: 0;left: 0;width: 270px;background: #fff;z-index: 1;height: 100%;padding-top: 70px;box-shadow: 0px 2px 4px rgba(0,0,0,0.3);transition: 0.3s ease-in-out;transform:translateX(-270px);display: flex; }
.side-bar.active { transform:translateX(0px); }
.side-bar-in { display: flex;flex-direction: column;width: 100%; }
.side-bar-in .side-bar-menu { height: 100%;overflow: auto; }
.side-pro-top,.side-pro-btm { padding: 15px;cursor: pointer; }
.side-pro-top h4,.side-pro-btm h4 { font-size: 18px;margin-bottom: 0; }
.side-pro-top figure,.side-pro-btm figure { margin: 0;width: 60px;height: 60px;border-radius: 50%;overflow: hidden;min-width: 60px; }
.side-pro-top figcaption,.side-pro-btm figcaption { width: 100%;display: flex;align-items: center;padding-right: 10px; }
.side-pro-btm { background: #0074bc;color: #fff; }
.dropdown-item.active, .dropdown-item:active { background-color: #0451a0; }
.side-bar-menu .dropdown-menu { position: static !important;transform: none !important; }
.menu-more { display: flex; }
.menu-more span { margin-left: auto;display: flex;align-items: center; }
.side-bar-menu .navbar-nav li > a { padding: 15px;color: #000;font-size: 16px;font-weight: 500; }
.side-bar-menu .navbar-nav li a > i { display: inline-flex;align-items: center;width: 30px; }
.side-bar-menu .navbar-nav .nav-item .nav-link:hover { background: #f3f3f3; }
.side-bar-menu .navbar-nav .nav-item.active .nav-link { color: #fff;background: #0451a0; }
.page-item.active .page-link { background: #0451a0;border-color: #0451a0; }
.page-link { color: #0451a0; }
.menu-more .fa-minus { display: block; }
.menu-more .fa-plus { display: none; }
.menu-more.collapsed .fa-minus { display: none; }
.menu-more.collapsed .fa-plus  { display: block; }
.menu-more-out .menu-more-menu a { padding: 10px;font-size: 15px;font-weight: 500;padding-left: 40px; }
a{color: #0451A0;text-decoration: none;}
pre{display: block;padding: 9.5px;margin: 0 0 10px;font-size: 13px;line-height: 1.42857143;color: #333;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc;border-radius: 4px;}
.d-flex{display: flex;justify-content: space-between;margin-bottom: 10px;}
.card .card-header .btn-header-link {color: #fff;display: block;text-align: left;color: #222;padding: 5px;}
.card .card-header .btn-header-link:after {content: "\f107";font-family: 'Font Awesome 5 Free';font-weight: 900;float: right;}
.card {margin-bottom: 15px;margin-top:15px;border: 0;}
.selection{width: 100%;text-align: right;margin: 0px auto;display: inline-block;}
.support{min-height: 300px;  }
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{background-color: #0451a0;}
.custom-control-input:checked ~ .custom-control-label::before{border-color: #0451a0;}
.btn:focus, .btn.focus{box-shadow: none !important;}
.profilearrow{color: #0451a0;padding: 7px 6px;vertical-align: text-bottom;}
.pointer{cursor: default !important;}
.providers_header{float: left;margin-right: 10px !important;}
#uploadcvsbtn{position: relative;}
#upload_schedule_form #uploadcvs{position:absolute;left: 0px;top: 0px;opacity: 0;width: 100%;height:100%;cursor: pointer;display: block;
padding: 44px 0 0 0;}
.provider_dashboard .card .header {padding: 20px 0 50px 2px;}
.messeges_header{color:#000;background:green;}
.warnings_header{color:#000;background:yellow;}
.errors_header{color:#000;background:red;}
.valid_data_header{color:#000;background:green;}
#validate_csv_form #validate_csv_btn{position: relative;}
#validate_csv_form #validate_cvs {position: absolute;left:0;top: 0;opacity: 0;width: 100%;height: 100%;cursor: pointer;display: block;
padding: 44px 0 0 0;}
.provider_dashboard .d-flex{display: flex;justify-content: space-between;margin-bottom: 10px;}
[type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::after {background-color: #0451a0;z-index: 0;




