/*font family*/
$primaryfont:'Poppins', sans-serif;

/*font-variables-here*/
$font8:8px;
$font9:9px;
$font10:10px;
$font11:11px;
$font12:12px;
$font14:14px;
$font15:15px;
$font16:16px;
$font18:18px;
$font20:20px;
$font21:21px;
$font22:22px;
$font23:23px;
$font24:24px;
$font26:26px;
$font30:30px;
$font32:32px;
$font45:45px;
$font48:48px;
$font50:50px;
$font40:40px;
$font32:32px;

$font-weight-light:300;
$font-weight-regular:400;
$font-weight-bold:600;

/*font-variables-end*/

/*color-variables-here*/

$gray:#5b667a;
$lightgray:#b1b1b1;
$darkgray:#262626;
$darklight:#404b60;
$white:#fff;
$blue:#384685;
$lightblue:#f4f8ff;
$lightdarkblue:#e8eff9;
$grylight:#e2e2e2;
$black:#000;
$gradient:linear-gradient(to right, #2186c7 0%, #384685 51%, #2186c7 75%);
$lighblue:#f3faff;
$lighblue2:#d1ecf1;

/*color-variables-end*/

$radius4:4px;
$radius5:5px;
$radiustop_right:4px 4px 0px 0px;
$radiusbottom_right:0px 0px 4px 4px;
$radius50:50px;
$radius100:100%;
$heading-padding:30px 0px;
$heading-padding2:0px 30px;
$padding30:30px;
$padding20:20px;
$padding15:15px 0px;
$margin_b15:15px ;
$paddding_b15:15px ;


/* patient chart color */
$LabResultsColor:#2196f3;
$TrackerColor:#009688;
$MedicineColor:#f44336;
$ProgressRepColor:#00bcd4;
$DischargeRepColor:#795548;
$SurgicalRepColor:#654a94;
