@import 'general';
@import 'variables';
@import 'variables';

/*header*/
header { 
  position: fixed;top: 0;left: 0;padding: 10px 0px; width: 100%;background-color: rgba(255,255,255,0.4);z-index: 111;box-shadow: 0px 0px 10px rgba(0,0,0,0.1); @extend .transition;
  .login_signup {
    li { margin-left: 15px; }
  }
  .logo { float: left;width:60px;margin-top: 5px; }
  .navbar  { box-shadow: none;padding: 0;display: inline-block;float: right; }
  .navbar-collapse { flex-grow: unset; }
  .navbar-expand-lg {
    .navbar-nav {
      float: left;
    }
  }
  .navbar {
    .nav-item{
      .nav-link { font-size: $font14;text-transform: uppercase;font-weight: 500;color: $darkgray; }
    }
  }
  .MenuNav { margin-right: 30px; } 
}
.btn {
  background-image: $gradient;font-size: $font14;padding: 10px 20px !important;background-size: 200% auto;box-shadow: none !important;@extend .transition;margin: 0px;
}
.btn:active {
  background-image: $gradient !important;
}
.btn:hover {
 background-position: right center;
}
.btn-white { background: $white;color: $blue !important;border: 2px solid #fff; }
.btn-white:focus,.btn-white:active { background-color:$white; background-image:none !important;}
.btn-white:hover { background: $blue !important;color: $white !important; }
.section-padding { padding: 90px 0px; }
.HomeSlider {
  .carousel-item { height: 100vh; }
  .view {  height: 100%;overflow: hidden; 
    img { object-position: center;object-fit: cover;width: 100%;height: 100%; }
  }
  h3 { font-size: $font40;color: $blue;font-weight: 900;text-transform: uppercase; }
  p { color: $gray;font-size: $font16; }
  .carousel-caption { position: absolute;top: 0;left: 0;width: 100%;height: 100%;display: flex;text-align:left; }
  .carousel-caption {
    article{ display: inline-block; max-width: 580px;margin-top: 80px;}
  }
  .carousel-indicators {
    li { background-color: $blue; }
  }
  .carousel-indicators {
    li.active { background-color: $black; }
  }
}
.navbar.scrolling-navbar.top-nav-collapse { padding-top: 12px;padding-bottom:12px; }
body.fixed {
  header{
    background: $white;padding: 0px;
  }  
}
.TitleHead { margin-bottom: 60px;text-align: center; }
.TitleHead {
  h3 { font-size: $font32;font-weight: 700;text-transform: uppercase;color: $blue;@extend .transition; }
  .seprator { width: 42px;margin: 15px auto;background: #e2e2e2;height: 8px;border-radius: 5px; }
}
.TitleHead:hover {
  h3 { letter-spacing: 8px; }
}
.HowItWorks {
  .col-md-4 { text-align:center; 
    h4 { font-size: $font20;color: $blue;font-weight: 700;text-transform: uppercase; }
    figure { margin-bottom: 30px; }
    article { padding: 0px 25px; }
    p { color: #889abb;font-weight: 300; }
    img { @extend .transition; }
  }
  .col-md-4:hover img { transform: translateY(-15px); } 
}

.AboutHome {
  padding-top: 40px;
  position: relative;
  .col-md-5 { text-align:center;
    figure { margin: 0; }
    img { max-width: 280px;display: block;margin: 0px auto; } 
  }
  .col-md-7 {
    .AboutHeadLine { margin-bottom: 30px; }
    h4 { color: $blue;font-size: $font22;font-weight: 700;margin-bottom: 5px;text-transform: uppercase; }
    h5 { color: $blue;font-size: $font18;font-weight: 300;margin-bottom: 10px;text-transform: uppercase; }
    p { color: #889abb;font-size: $font14;margin-bottom: 30px; }
    p:last-child { margin-bottom: 0px; }
  }
  .ScrollElements { position: absolute;top: 80%;left: -60px; }
  .ScrollElements1 { right: 40px;left: auto;width: 100px;top: 90%; }
  .ScrollElements2 { left:-15px;width: 100px;bottom: -40%;top: auto; }
  .VideoFrame { max-width: 800px;margin: 0px auto;padding: 10px;background: #fff;@extend .shadow; }
  .AboutVideo { margin-top: 70px; }
}


.ResultSec {
  position: relative;background: url(../images/ShapeBox.svg) #f4f8ff no-repeat; background-position: bottom;background-size: 100% auto;
  .col-md-7 { padding-right: 100px;align-items: center;display: flex;justify-content: center; }
  .col-md-5 { align-items: center;display: flex;justify-content: center; }
  .ScrollElements { position: absolute;top: 100%;left: 0; }
  .ScrollElements2 { top: auto;bottom: 20%;position: absolute; }
}
.ResultAccordian {
  width: 100%;
  .card { box-shadow: none !important;border-bottom: 1px solid #e5eaf4; }
  .accordion { @extend .shadow; }
  .mb-0 { position: relative;font-size: $font18;font-weight: 700;color: $blue;
    img { width: 40px;margin-right: 20px; }
    i { position: absolute;right: 20px;top:8px; @extend .transition; }
  }
  .card-header { background: #fff;border: none;padding: 15px 25px; }
  .card-body { padding-top: 0px;color: #889abb;font-size: $font14;font-weight: 200; }
  .card-header { 
    a {
      i { transform: rotate(180deg); }
    } 
    a.collapsed{
      i { transform: rotate(0deg); }
    } 
  }
}

.HelthcareSec {
  background: #e8eff9;
  .HelthcareRight,.HelthcareLeft { display: flex;align-items: center;justify-content: center; }
  .AlleviaTabel,.ProBox { width: 100%; }
  .HelthcareRight { padding-left: 100px; }
}
.ProBox{
  h5 { font-size: $font24;color: $blue;margin-bottom: 30px;font-weight: 400; }
}
.BullteList {
  ul {
    li { position: relative;padding-left: 40px;margin-bottom: 20px;font-weight: 300;font-size: $font14;}
    li:after {content: "";width: 20px;height: 20px;background: url(../images/checked.svg);background-size: 100% 100%;position: absolute;top: 2px;left: 0;display: block; }
    li:last-child { margin-bottom: 0px; }
  }
}
.AlleviaTabel { @extend .shadow;background: #fff; }
.AlleviaTabel {
  figure { text-align: center;margin: 0;padding: 20px 0px; }
  table { border: none; }
  tr {
    td:last-child { border-right:none;width: 140px;font-weight: 200; }
    td { border-color: #d9e1ef;text-align: center;font-size: $font18;color: #404040;padding: 10px; }
    td {  
      img { width: 30px; }
    }
  }
}

.OurPartnerSlider {
  position: relative;
  .item{
    a { display: block; padding: 20px;
      article { @extend .ShadowBlue; }
    }
  }
  .owl-nav {
    .owl-prev,.owl-next {position: relative; background-image: $gradient;background-size: 200% auto;width: 40px;height: 40px;position: absolute;top: 37%;border-radius: 2px;@extend .transition;color: transparent; }
    .owl-prev { left: 0; }
    .owl-next { right: 0; }
    .owl-prev:hover,.owl-next:hover { background-position: right center; }
    .owl-prev.disabled { opacity: 0.6; }
    .owl-prev:after { content: ""; position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: url(../images/pre-icon.svg) no-repeat;background-position: center center; }
    .owl-next:after { content: ""; position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: url(../images/next-icon.svg) no-repeat;background-position: center center; }
  }
}
.FootBlue{
  background: $blue;padding: 40px 0px;
  .col-md-10{
    h6 { color: $white;font-size: $font24;font-weight: 600;margin: 0;margin-top: 10px; }
  }
  .col-md-2{
    .btn { padding:30px;font-size: $font16;font-weight: 600;width: 100%; }
  }
}
.FooterMain { padding: 70px 0px;background: #f6f9ff; }
.FooterRight { padding-left: 180px; }
.FootLogoPart{ 
  .FootLogo {
    margin-bottom: 25px;
    a { display: block;margin-bottom: 5px; }
    p { font-size: $font14;color: #889abb;font-weight: 200;margin: 0px; 
    }
  }
  .FootAddress{
    ul {
      li{
        margin-bottom: 15px;
        a{
          font { color: #889abb;font-size: $font14;@extend .transition; }
          span { @extend .transition;text-align: center; width: 35px;height: 35px;line-height: 35px;color: $blue;display: inline-block;border-radius: 50%;background: #e4ecfc;padding-top: 10px;margin-right: 15px;  }
        }
        a:hover font{ color: $blue; }
        a:hover span{ color: $white;background: $blue; }
      }
      li:last-child { margin-bottom: 0; }
    }
  }
}
.FootLinkBox {
  .FootHead { font-size:$font24;color: $blue;font-weight: 600;margin-bottom: 25px; }
  ul{
    li{
      margin-bottom: 20px;
      a { color: #889abb;font-size:$font14; @extend .transition; }
    }
    li:hover a { color: $blue; }
    li:last-child { margin-bottom: 0px !important; }
  }
  .footSocial{
    li {
      margin-bottom: 15px;
      a { text-transform: uppercase;font-weight: 500; 
        span { @extend .transition;text-align: center; width: 35px;height: 35px;line-height: 35px;color: $white;display: inline-block;border-radius: 50%;padding-top: 10px;margin-right: 15px;  
        }
      }
    }
    li:nth-child(1){
      a {
        span{ background: #3b5998; }
      }
    }
    li:nth-child(2){
      a {
        span{ background: #1da1f2; }
      }
    }
    li:nth-child(3){
      a {
        span{ background: #833ab4; }
      }
    }
    li:nth-child(4){
      a {
        span{ background: #bd081c; }
      }
    }
  }
}
.FootCopyright {
  p { margin: 0px;padding: 10px 0px;color: #5b5b5b;font-weight: 200; }
}

