/*font family*/
/*font-variables-here*/
/*font-variables-end*/
/*color-variables-here*/
/*color-variables-end*/
/* patient chart color */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  scroll-behavior: smooth; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p, span {
  line-height: 24px; }

img {
  max-width: 100%; }

.site_content {
  display: block; }

.site_content:after, .site_content:before {
  display: table;
  clear: both;
  content: ""; }

header, footer, section {
  display: block; }

header:after, header:before, footer:after, footer:before, section:after, section:before {
  display: table;
  clear: both;
  content: ""; }

.container {
  margin: auto;
  width: 1170px;
  max-width: 100%; }

.container:after, .container:before {
  display: table;
  clear: both;
  content: ""; }

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

[type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666; }

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff; }

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #0c90db;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

[type="checkbox"]:checked, [type="checkbox"]:not(:checked) {
  position: absolute;
  opacity: 0;
  pointer-events: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: #003394;
  left: 1.5rem; }

.switch label .lever:after {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #f1f1f1;
  -webkit-border-radius: 1.3125rem;
  border-radius: 1.3125rem;
  left: -.3125rem;
  top: -.1875rem;
  -webkit-box-shadow: 0 0.0625rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.4);
  box-shadow: 0 0.0625rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.4);
  width: 1.3125rem;
  height: 1.3125rem;
  -webkit-transition: left .3s ease,background .3s ease,-webkit-box-shadow 1s ease;
  transition: left .3s ease,background .3s ease,-webkit-box-shadow 1s ease;
  -o-transition: left .3s ease,background .3s ease,box-shadow 1s ease;
  transition: left .3s ease,background .3s ease,box-shadow 1s ease;
  transition: left .3s ease,background .3s ease,box-shadow 1s ease,-webkit-box-shadow 1s ease; }

.switch label input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0; }

.switch label input[type="checkbox"]:checked + .lever {
  background-color: #f4f8ff; }

.switch label .lever {
  content: "";
  display: inline-block;
  position: relative;
  background-color: #818181;
  -webkit-border-radius: .9375rem;
  border-radius: .9375rem;
  margin-right: .625rem;
  vertical-align: middle;
  margin: 0 1rem;
  width: 2.5rem;
  height: .9375rem;
  -webkit-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease; }

button:focus {
  border: none;
  outline: none; }

select {
  appearance: none; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-collapse: collapse;
  display: table;
  text-align: left;
  border: 1px solid #c9c9c9; }

table th {
  padding: 15px;
  border-top: 1px solid #c9c9c9;
  text-transform: capitalize;
  background: #f4f4f6;
  border-right: 1px solid #c9c9c9; }

table td {
  padding: 15px;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
  font-size: 14px;
  color: #1b1b1b; }

.transition, a, header, .btn, .TitleHead h3, .HowItWorks .col-md-4 img, .ResultAccordian .mb-0 i, .OurPartnerSlider .owl-nav .owl-prev, .OurPartnerSlider .owl-nav .owl-next, .FootLogoPart .FootAddress ul li a font, .FootLogoPart .FootAddress ul li a span, .FootLinkBox ul li a, .FootLinkBox .footSocial li a span {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; }

.transform-scale0 {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0); }

.transform-scale {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.shadow, .AboutHome .VideoFrame, .ResultAccordian .accordion, .AlleviaTabel {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1); }

.ShadowBlue, .OurPartnerSlider .item a article {
  box-shadow: 0px 0px 30px #ebf2fc; }

/*font family*/
/*font-variables-here*/
/*font-variables-end*/
/*color-variables-here*/
/*color-variables-end*/
/* patient chart color */
/*font family*/
/*font-variables-here*/
/*font-variables-end*/
/*color-variables-here*/
/*color-variables-end*/
/* patient chart color */
/*header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 111;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
  header .login_signup li {
    margin-left: 15px; }
  header .logo {
    float: left;
    width: 60px;
    margin-top: 5px; }
  header .navbar {
    box-shadow: none;
    padding: 0;
    display: inline-block;
    float: right; }
  header .navbar-collapse {
    flex-grow: unset; }
  header .navbar-expand-lg .navbar-nav {
    float: left; }
  header .navbar .nav-item .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #262626; }
  header .MenuNav {
    margin-right: 30px; }

.btn {
  background-image: linear-gradient(to right, #2186c7 0%, #0949a2 51%, #2186c7 75%);
  font-size: 14px;
  padding: 10px 20px !important;
  background-size: 200% auto;
  box-shadow: none !important;
  margin: 0px; }

.btn:active {
  background-image: linear-gradient(to right, #2186c7 0%, #0949a2 51%, #2186c7 75%) !important; }

.btn:hover {
  background-position: right center; }

.btn-white {
  background: #fff;
  color: #003394 !important;
  border: 2px solid #fff; }

.btn-white:focus, .btn-white:active {
  background-color: #fff;
  background-image: none !important; }

.btn-white:hover {
  background: #003394 !important;
  color: #fff !important; }

.section-padding {
  padding: 90px 0px; }

.HomeSlider .carousel-item {
  height: 100vh; }
.HomeSlider .view {
  height: 100%;
  overflow: hidden; }
  .HomeSlider .view img {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%; }
.HomeSlider h3 {
  font-size: 40px;
  color: #003394;
  font-weight: 900;
  text-transform: uppercase; }
.HomeSlider p {
  color: #5b667a;
  font-size: 16px; }
.HomeSlider .carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: left; }
.HomeSlider .carousel-caption article {
  display: inline-block;
  max-width: 580px;
  margin-top: 80px; }
.HomeSlider .carousel-indicators li {
  background-color: #003394; }
.HomeSlider .carousel-indicators li.active {
  background-color: #000; }

.navbar.scrolling-navbar.top-nav-collapse {
  padding-top: 12px;
  padding-bottom: 12px; }

body.fixed header {
  background: #fff;
  padding: 0px; }

.TitleHead {
  margin-bottom: 60px;
  text-align: center; }

.TitleHead h3 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #003394; }
.TitleHead .seprator {
  width: 42px;
  margin: 15px auto;
  background: #e2e2e2;
  height: 8px;
  border-radius: 5px; }

.TitleHead:hover h3 {
  letter-spacing: 8px; }

.HowItWorks .col-md-4 {
  text-align: center; }
  .HowItWorks .col-md-4 h4 {
    font-size: 20px;
    color: #003394;
    font-weight: 700;
    text-transform: uppercase; }
  .HowItWorks .col-md-4 figure {
    margin-bottom: 30px; }
  .HowItWorks .col-md-4 article {
    padding: 0px 25px; }
  .HowItWorks .col-md-4 p {
    color: #889abb;
    font-weight: 300; }
.HowItWorks .col-md-4:hover img {
  transform: translateY(-15px); }

.AboutHome {
  padding-top: 40px;
  position: relative; }
  .AboutHome .col-md-5 {
    text-align: center; }
    .AboutHome .col-md-5 figure {
      margin: 0; }
    .AboutHome .col-md-5 img {
      max-width: 280px;
      display: block;
      margin: 0px auto; }
  .AboutHome .col-md-7 .AboutHeadLine {
    margin-bottom: 30px; }
  .AboutHome .col-md-7 h4 {
    color: #003394;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase; }
  .AboutHome .col-md-7 h5 {
    color: #003394;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .AboutHome .col-md-7 p {
    color: #889abb;
    font-size: 14px;
    margin-bottom: 30px; }
  .AboutHome .col-md-7 p:last-child {
    margin-bottom: 0px; }
  .AboutHome .ScrollElements {
    position: absolute;
    top: 80%;
    left: -60px; }
  .AboutHome .ScrollElements1 {
    right: 40px;
    left: auto;
    width: 100px;
    top: 90%; }
  .AboutHome .ScrollElements2 {
    left: -15px;
    width: 100px;
    bottom: -40%;
    top: auto; }
  .AboutHome .VideoFrame {
    max-width: 800px;
    margin: 0px auto;
    padding: 10px;
    background: #fff; }
  .AboutHome .AboutVideo {
    margin-top: 70px; }

.ResultSec {
  position: relative;
  background: url(../images/ShapeBox.svg) #f4f8ff no-repeat;
  background-position: bottom;
  background-size: 100% auto; }
  .ResultSec .col-md-7 {
    padding-right: 100px;
    align-items: center;
    display: flex;
    justify-content: center; }
  .ResultSec .col-md-5 {
    align-items: center;
    display: flex;
    justify-content: center; }
  .ResultSec .ScrollElements {
    position: absolute;
    top: 100%;
    left: 0; }
  .ResultSec .ScrollElements2 {
    top: auto;
    bottom: 20%;
    position: absolute; }

.ResultAccordian {
  width: 100%; }
  .ResultAccordian .card {
    box-shadow: none !important;
    border-bottom: 1px solid #e5eaf4; }
  .ResultAccordian .mb-0 {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    color: #003394; }
    .ResultAccordian .mb-0 img {
      width: 40px;
      margin-right: 20px; }
    .ResultAccordian .mb-0 i {
      position: absolute;
      right: 20px;
      top: 8px; }
  .ResultAccordian .card-header {
    background: #fff;
    border: none;
    padding: 15px 25px; }
  .ResultAccordian .card-body {
    padding-top: 0px;
    color: #889abb;
    font-size: 14px;
    font-weight: 200; }
  .ResultAccordian .card-header a i {
    transform: rotate(180deg); }
  .ResultAccordian .card-header a.collapsed i {
    transform: rotate(0deg); }

.HelthcareSec {
  background: #e8eff9; }
  .HelthcareSec .HelthcareRight, .HelthcareSec .HelthcareLeft {
    display: flex;
    align-items: center;
    justify-content: center; }
  .HelthcareSec .AlleviaTabel, .HelthcareSec .ProBox {
    width: 100%; }
  .HelthcareSec .HelthcareRight {
    padding-left: 100px; }

.ProBox h5 {
  font-size: 24px;
  color: #003394;
  margin-bottom: 30px;
  font-weight: 400; }

.BullteList ul li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 14px; }
.BullteList ul li:after {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../images/checked.svg);
  background-size: 100% 100%;
  position: absolute;
  top: 2px;
  left: 0;
  display: block; }
.BullteList ul li:last-child {
  margin-bottom: 0px; }

.AlleviaTabel {
  background: #fff; }

.AlleviaTabel figure {
  text-align: center;
  margin: 0;
  padding: 20px 0px; }
.AlleviaTabel table {
  border: none; }
.AlleviaTabel tr td:last-child {
  border-right: none;
  width: 140px;
  font-weight: 200; }
.AlleviaTabel tr td {
  border-color: #d9e1ef;
  text-align: center;
  font-size: 18px;
  color: #404040;
  padding: 10px; }
.AlleviaTabel tr td img {
  width: 30px; }

.OurPartnerSlider {
  position: relative; }
  .OurPartnerSlider .item a {
    display: block;
    padding: 20px; }
  .OurPartnerSlider .owl-nav .owl-prev, .OurPartnerSlider .owl-nav .owl-next {
    position: relative;
    background-image: linear-gradient(to right, #2186c7 0%, #0949a2 51%, #2186c7 75%);
    background-size: 200% auto;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 37%;
    border-radius: 2px;
    color: transparent; }
  .OurPartnerSlider .owl-nav .owl-prev {
    left: 0; }
  .OurPartnerSlider .owl-nav .owl-next {
    right: 0; }
  .OurPartnerSlider .owl-nav .owl-prev:hover, .OurPartnerSlider .owl-nav .owl-next:hover {
    background-position: right center; }
  .OurPartnerSlider .owl-nav .owl-prev.disabled {
    opacity: 0.6; }
  .OurPartnerSlider .owl-nav .owl-prev:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/pre-icon.svg) no-repeat;
    background-position: center center; }
  .OurPartnerSlider .owl-nav .owl-next:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/next-icon.svg) no-repeat;
    background-position: center center; }

.FootBlue {
  background: #003394;
  padding: 40px 0px; }
  .FootBlue .col-md-10 h6 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    margin-top: 10px; }
  .FootBlue .col-md-2 .btn {
    padding: 30px;
    font-size: 16px;
    font-weight: 600;
    width: 100%; }

.FooterMain {
  padding: 70px 0px;
  background: #f6f9ff; }

.FooterRight {
  padding-left: 180px; }

.FootLogoPart .FootLogo {
  margin-bottom: 25px; }
  .FootLogoPart .FootLogo a {
    display: block;
    margin-bottom: 5px; }
  .FootLogoPart .FootLogo p {
    font-size: 14px;
    color: #889abb;
    font-weight: 200;
    margin: 0px; }
.FootLogoPart .FootAddress ul li {
  margin-bottom: 15px; }
  .FootLogoPart .FootAddress ul li a font {
    color: #889abb;
    font-size: 14px; }
  .FootLogoPart .FootAddress ul li a span {
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #003394;
    display: inline-block;
    border-radius: 50%;
    background: #e4ecfc;
    padding-top: 10px;
    margin-right: 15px; }
  .FootLogoPart .FootAddress ul li a:hover font {
    color: #003394; }
  .FootLogoPart .FootAddress ul li a:hover span {
    color: #fff;
    background: #003394; }
.FootLogoPart .FootAddress ul li:last-child {
  margin-bottom: 0; }

.FootLinkBox .FootHead {
  font-size: 24px;
  color: #003394;
  font-weight: 600;
  margin-bottom: 25px; }
.FootLinkBox ul li {
  margin-bottom: 20px; }
  .FootLinkBox ul li a {
    color: #889abb;
    font-size: 14px; }
.FootLinkBox ul li:hover a {
  color: #003394; }
.FootLinkBox ul li:last-child {
  margin-bottom: 0px !important; }
.FootLinkBox .footSocial li {
  margin-bottom: 15px; }
  .FootLinkBox .footSocial li a {
    text-transform: uppercase;
    font-weight: 500; }
    .FootLinkBox .footSocial li a span {
      text-align: center;
      width: 35px;
      height: 35px;
      line-height: 35px;
      color: #fff;
      display: inline-block;
      border-radius: 50%;
      padding-top: 10px;
      margin-right: 15px; }
.FootLinkBox .footSocial li:nth-child(1) a span {
  background: #3b5998; }
.FootLinkBox .footSocial li:nth-child(2) a span {
  background: #1da1f2; }
.FootLinkBox .footSocial li:nth-child(3) a span {
  background: #833ab4; }
.FootLinkBox .footSocial li:nth-child(4) a span {
  background: #bd081c; }

.FootCopyright p {
  margin: 0px;
  padding: 10px 0px;
  color: #5b5b5b;
  font-weight: 200; }

/*# sourceMappingURL=style.css.map */
